@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    


}


.topnav {
    overflow: hidden;
    background-color: #333;
    border: 2px solid black;
    }
    
    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }
    
    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }
    
    .topnav a.active {
    background-color: #04AA6D;
    color: white;
    }

.sectionOne{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 50px;
    height: 100vh;  
    
    
}

.info{
    width: 350px;
}

.info :is(h1){
    font-family:  "Madimi One", sans-serif;
    font-size:2rem;
    padding: 10px;
}

.info :is(p){
    padding: 10px;
    font-family:  "Madimi One", sans-serif;
}

.info :is(button){
    cursor:grab;
    font-weight: 100;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(3, 3, 3);
    background-color: rgb(186, 81, 218);
    font-family:  "Madimi One", sans-serif;
}
.card{
    display: flex;
    justify-content: space-around;
    
}

.p1{
    padding: 10px;
}

